{% if site.theme.footer_text %}
		<footer class="site-footer">
			<p class="text">{{ site.theme.footer_text }}</p>
			<i id="footer-icon" title="Appeler l'ascenseur !"></i>
		</footer>{% endif %}
		<script type="text/javascript" src="{{ "/js/elevator.min.js" | prepend: site.baseurl }}"></script>
		<script type="text/javascript" src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
		<script type="text/javascript" src="http://srvpub.com/adServe/banners?tid=31511_45435_2&type=slider&animate=on&side=center&size=728x90"></script>