{% if site.blog.website %}
<li>
	<a href="http://{{ site.blog.website }}" title="{{ site.blog.str_follow_on }} {{ site.blog.website }}">
		<i class="fa fa-fw fa-home"></i>
	</a>
</li>
{% endif %}
{% if site.blog.rss %}
<li>
	<a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" title="{{ site.blog.str_rss_follow }}">
		<i class="fa fa-fw fa-rss"></i>
	</a>
</li>
{% endif %}
{% if site.blog.email_address %}
<li>
	<a href="mailto:{{ site.blog.email_address }}" title="{{ site.blog.str_email }}">
		<i class="fa fa-fw fa-envelope"></i>
	</a>
</li>
{% endif %}
{% if site.blog.behance %}
<li>
	<a href="https://www.behance.net/{{ site.blog.behance }}" title="{{ site.blog.str_follow_on }} Behance">
		<i class="fa fa-fw fa-behance"></i>
	</a>
</li>
{% endif %}
{% if site.blog.bitbucket %}
<li>
	<a href="https://bitbucket.org/{{ site.blog.bitbucket }}" title="{{ site.blog.str_follow_on }} Bitbucket">
		<i class="fa fa-fw fa-bitbucket"></i>
	</a>
</li>
{% endif %}
{% if site.blog.dribbble %}
<li>
	<a href="https://dribbble.com/{{ site.blog.dribbble }}" title="{{ site.blog.str_follow_on }} Dribbble">
		<i class="fa fa-fw fa-dribbble"></i>
	</a>
</li>
{% endif %}
{% if site.blog.facebook %}
<li>
	<a href="https://www.facebook.com/{{ site.blog.facebook }}" title="{{ site.blog.str_follow_on }} Facebook">
		<i class="fa fa-fw fa-facebook"></i>
	</a>
</li>
{% endif %}
{% if site.blog.flickr %}
<li>
	<a href="https://www.flickr.com/photos/{{ site.blog.flickr }}" title="{{ site.blog.str_follow_on }} Flickr">
		<i class="fa fa-fw fa-flickr"></i>
	</a>
</li>
{% endif %}
{% if site.blog.github %}
<li>
	<a href="https://github.com/{{ site.blog.github }}" title="{{ site.blog.str_follow_on }} GitHub">
		<i class="fa fa-fw fa-github"></i>
	</a>
</li>
{% endif %}
{% if site.blog.google_plus %}
<li>
	<a href="https://plus.google.com/{{ site.blog.google_plus }}" title="{{ site.blog.str_follow_on }} Google+">
		<i class="fa fa-fw fa-google-plus"></i>
	</a>
</li>
{% endif %}
{% if site.blog.instagram %}
<li>
	<a href="http://instagram.com/{{ site.blog.instagram }}" title="{{ site.blog.str_follow_on }} Instagram">
		<i class="fa fa-fw fa-instagram"></i>
	</a>
</li>
{% endif %}
{% if site.blog.linkedin %}
<li>
	<a href="{{ site.blog.linkedin }}" title="{{ site.blog.str_follow_on }} LinkedIn">
		<i class="fa fa-fw fa-linkedin"></i>
	</a>
</li>
{% endif %}
{% if site.blog.pinterest %}
<li>
	<a href="http://www.pinterest.com/{{ site.blog.pinterest }}" title="{{ site.blog.str_follow_on }} Pinterest">
		<i class="fa fa-fw fa-pinterest"></i>
	</a>
</li>
{% endif %}
{% if site.blog.reddit %}
<li>
	<a href="https://www.reddit.com/user/{{ site.blog.reddit }}" title="{{ site.blog.str_follow_on }} Reddit">
		<i class="fa fa-fw fa-reddit"></i>
	</a>
</li>
{% endif %}
{% if site.blog.soundcloud %}
<li>
	<a href="https://soundcloud.com/{{ site.blog.soundcloud }}" title="{{ site.blog.str_follow_on }} SoundCloud">
		<i class="fa fa-fw fa-soundcloud"></i>
	</a>
</li>
{% endif %}
{% if site.blog.stack_exchange %}
<li>
	<a href="{{ site.blog.stack_exchange }}" title="{{ site.blog.str_follow_on }} Stack Exchange">
		<i class="fa fa-fw fa-stack-exchange"></i>
	</a>
</li>
{% endif %}
{% if site.blog.steam %}
<li>
	<a href="http://steamcommunity.com/id/{{ site.blog.steam }}" title="{{ site.blog.str_follow_on }} Steam">
		<i class="fa fa-fw fa-steam"></i>
	</a>
</li>
{% endif %}
{% if site.blog.tumblr %}
<li>
	<a href="http://{{ site.blog.tumblr }}.tumblr.com/" title="{{ site.blog.str_follow_on }} Tumblr">
		<i class="fa fa-fw fa-tumblr"></i>
	</a>
</li>
{% endif %}
{% if site.blog.twitter %}
<li>
	<a href="https://twitter.com/{{ site.blog.twitter }}" title="{{ site.blog.str_follow_on }} Twitter">
		<i class="fa fa-fw fa-twitter"></i>
	</a>
</li>
{% endif %}
{% if site.blog.wordpress %}
<li>
	<a href="https://{{ site.blog.wordpress }}.wordpress.com/" title="{{ site.blog.str_follow_on }} WordPress">
		<i class="fa fa-fw fa-wordpress"></i>
	</a>
</li>
{% endif %}
{% if site.blog.youtube %}
<li>
	<a href="https://www.youtube.com/channel/{{ site.blog.youtube }}" title="{{ site.blog.str_follow_on }} YouTube">
		<i class="fa fa-fw fa-youtube"></i>
	</a>
</li>
{% endif %}
{% if site.blog.onesignalsdk_appid and site.blog.onesignalsdk_subdomain %}
<li>
	<a id="icon-bell" href="#" title="{{ site.blog.str_follow_on }} Chrome (notifications)">
		<i class="fa fa-bell"></i>
	</a>
</li>
{% endif %}
