	<head>
		<title>{% if page.title %}{{ page.title }} |{% endif %} {{ site.theme.title }}</title>
		<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.theme.description }}{% endif %}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-Frame-Options" content="SAMEORIGIN">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	
		<!-- CSS -->
		<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
{% if site.theme.favicon %}
		<!--Favicon-->
		<link href="{{ site.theme.favicon }}" type="image/x-icon" rel="icon">
{% endif %}
		<!-- Canonical -->
		<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	
		<!-- RSS -->
		<link rel="alternate" type="application/atom+xml" title="{{ site.theme.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
	
		<!-- Font Awesome -->
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	
		<!-- Google Fonts -->
		<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,700italic,400italic" rel="stylesheet" type="text/css">
{% if site.theme.katex %}
		<!-- KaTeX -->
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.1.1/katex.min.css">
		<script src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.1.1/katex.min.js"></script>
{% endif %}{% if site.theme.google_analytics %}
		<!-- Google Analytics -->
		<script type="text/javascript">
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', '{{ site.theme.google_analytics }}', 'auto');
			ga('send', 'pageview');
		</script>{% endif %}
		
		<!-- Twitter Cards -->
		{% if page.title %}<meta name="twitter:title" content="{{ page.title }}">{% else %}<meta name="twitter:title" content="{{ site.theme.title }}">{% endif %}
		{% if page.url %}<meta name="twitter:url" content="{{ site.url }}{{ page.url }}">{% endif %}
		{% if page.description %}<meta name="twitter:description" content="{{ page.description }}">{% else %}<meta name="twitter:description" content="{{ site.theme.description }}">{% endif %}
		{% if page.feature-img %}<meta name="twitter:image:src" content="{{ page.feature-img }}">{% elseif site.theme.avatar %}<meta name="twitter:image:src" content="{{ site.theme.avatar }}">{% endif %}
	</head>