				<span class='st_facebook_large' displayText='Facebook'></span>
				<span class='st_twitter_large' displayText='Tweet'></span>
				<span class='st_googleplus_large' displayText='Google +'></span>
				<span class='st_tumblr_large' displayText='Tumblr'></span>
				<span class='st_reddit_large' displayText='Reddit'></span>
				<script type="text/javascript">var switchTo5x=true;</script>
				<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
				<script type="text/javascript">
					stLight.options({
						publisher: '03ea2b5b-f960-4edf-b456-9565dbf2be0e',
						doNotHash: false,
						doNotCopy: false,
						hashAddressBar: false
					});
				</script>